


<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main>
    <div class="quizs content">
        <h2>All Tests</h2>
        <% if (quizs.length > 0) { %>
        <% quizs.forEach(test => { %>
      
        <h3 class="title"><%= test.question %></h3>
        <ul>
            <li><%= test.answer1 %></li>
            <li><%= test.answer2 %></li>
            <li><%= test.answer3 %></li>
            <li><%= test.answer4 %></li>
        </ul>
        
        <% }) %>
        <% } else { %>
        <p>There are no tests to display...</p>
        <% } %>
      
      </div>
  </main>
  <%- include("./partials/footer.ejs") %>
  <script src="/scripts/test.js"></script>
</body>
</html>